<h1>Kundenübersicht</h1>

<table>
 
<% @clients.each do |client| %>
    <tr>
        <td><b><%= client.company %></b></td>
    </tr>
    <tr>
        <td>
        <%= client.forename %> <%= client.name %>
        <br><%= client.street %>
        <br><%= client.zip %> <%= client.city %>
        <br><%= client.country %><br><br>
        <b>Kunden Notiz:</b> <br><%= client.comments %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to 'Details', client %> 
            <%= link_to 'bearbeiten', edit_client_path(client) %> 
            <%= link_to 'Löschen', client, confirm: 'Are you sure?', method: :delete %>
        </td>
    </tr>
    <tr>
        <td><hr style="margin: 30px 0;"></td>
    </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>