<h1>Listing clients</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Forename</th>
    <th>Name</th>
    <th>Street</th>
    <th>Zip</th>
    <th>City</th>
    <th>Country</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.company %></td>
    <td><%= client.forename %></td>
    <td><%= client.name %></td>
    <td><%= client.street %></td>
    <td><%= client.zip %></td>
    <td><%= client.city %></td>
    <td><%= client.country %></td>
    <td><%= client.comments %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
