<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @client.company %>
</p>

<p>
  <b>Forename:</b>
  <%= @client.forename %>
</p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Street:</b>
  <%= @client.street %>
</p>

<p>
  <b>Zip:</b>
  <%= @client.zip %>
</p>

<p>
  <b>City:</b>
  <%= @client.city %>
</p>

<p>
  <b>Country:</b>
  <%= @client.country %>
</p>

<p>
  <b>Comments:</b>
  <%= @client.comments %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
